.podcast-card {
  background: linear-gradient(
    177.7deg,
    rgba(58, 129, 191, 0.3) 1.63%,
    rgba(65, 48, 90, 0.009) 148.18%
  );
  border-radius: 1rem;
  padding: 0.5rem;
  width: 250px;
  opacity: 0.7;
}

.podcast-card:hover {
  opacity: 1;
  transition: all 0.2s;
}

.podcast-display-image {
  width: 100%;
  /* object-fit: cover; */
  height: 220px;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  /* opacity: 0.9; */
}

.podcast-title{
    color: var(--white);
    text-decoration: none;
    margin: 0.5rem 0;
}