 .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
 }

 
.gradient {
  position: absolute;
  width: 800px;
  height: 150px;
  margin: auto;
  background: var(--blue);
  filter: blur(100px);
  z-index: -1;
  top: -100px;
}

 .links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  width: fit-content;
}

.links a{
    text-decoration: none;
    color: #8ea6bb;
    font-size: 20px;
    font-weight: 500;
}

.links a:hover{
    color: var(--white);
    transition: all 0.3s;
}

.active{
  color: var(--white) !important;
}