.custom-input {
  background-color: var(--theme);
  padding: 1rem;
  width: 60vw;
  font-size: 1rem;
  color: var(--white);
  border-radius: 0.45rem;
  border: 2px solid var(--purple-grey);
  margin: 1rem;
}
.custom-input:focus {
  outline: none;

  border-color: white;
}
.custom-input::placeholder {
  color: var(--purple-grey);
}

.label-input{
  color: var(--purple-grey);

}

.active{
  border-color: var(--white) ;
}